# 不确定 .gitignore 是什么？
# 请参阅: https://git-scm.com/docs/gitignore

# 第一个文件是直接从 Jekyll 的官方文档中复制的关于 `.gitignore` 文件的内容: 
# https://jekyllrb.com/tutorials/using-jekyll-with-bundler/#commit-to-source-control

# 忽略 Jekyll 生成的默认站点位置、缓存和元数据
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# 忽略 Bundler 生成的文件夹
.bundle/
vendor/

# 以下文件是 Just the Docs 开发人员使用的。它们对主题的最终用户来说不是必需的，仅对开发人员有用。

# 我们使用 Stylelint 和 Prettier 这两个 JavaScript 工具来检查和格式化我们自己的代码。
# 我们使用 Node.js 作为运行时，因此忽略 node_modules
node_modules

# .DS_Store 是 macOS 专用的关于目录的元数据文件。惯例是不提交它们。
# 请参阅: https://en.wikipedia.org/wiki/.DS_Store
.DS_Store

# 这些是通常针对 Ruby 主题开发人员的遗留模式。我们可能会在以后更改这些。
*.gem
.bundle
.ruby-version
