package-lock.json
_site
assets/css/just-the-docs-default.scss
assets/css/just-the-docs-light.scss
assets/css/just-the-docs-dark.scss
assets/js/vendor/lunr.min.js
assets/js/search-data.json
assets/js/zzzz-search-data.json
assets/js/just-the-docs.js
*.md
_includes/mermaid_config.js



# wendell: mermaid.js 和 mermaid.min.js 是来自外部库，恁可以忽略这些文件的格式化检查。
assets/files/mermaid-11.4.0/package/dist/mermaid.js
assets/files/mermaid-11.4.0/package/dist/mermaid.min.js
assets/files/mermaid-11.4.0/package/package.json
